<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043771219331-ordmj5qj2297a0vncdiros3hear4e27b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043771219331-ordmj5qj2297a0vncdiros3hear4e27b</string>
	<key>API_KEY</key>
	<string>AIzaSyCBT4i-rISub-cLbR_h0z_Q54cAUA6VW_o</string>
	<key>GCM_SENDER_ID</key>
	<string>1043771219331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krynje.Navigation</string>
	<key>PROJECT_ID</key>
	<string>navigation-krynje</string>
	<key>STORAGE_BUCKET</key>
	<string>navigation-krynje.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043771219331:ios:c52556e2a7d1c034432ab6</string>
</dict>
</plist>